doctype html
html
  head
    title webprog
    meta(
      http-quiv="content-type"
      content="text/html"
      charset="utf-8"
    )
    // load bootstrap css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css') 
    //load fontawesome icon-set
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css') 
    //load custom css
    link(rel='stylesheet', href='/toolkit.css') 
  body
    block content
