extends layout

block content
  .container
    .row
      .col.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2.p-5.signup-card
        h1.mb-4 #[span.fa.fa-sign-in] Signup
        //- show any messages that come back with authentication
        if message.length > 0 
          .alert.alert-danger
            p #{message}
        //- LOGIN FORM
        form(action='/signup', method='post')
          .row
            .col-12
              .form-group
                label Email
                input.form-control(type='text', name='email')
            .col-6
              .form-group
                label password
                input.form-control(type='password', name='password')
            .col-6
              .form-group
                label username
                input.form-control(type='text', name='username')
            .col-6
              .form-group
                label Vorname
                input.form-control(type='text', name='firstname')
            .col-6
              .form-group
                label Nachname
                input.form-control(type='text', name='lastname')  
            .col-6
              .form-group
                label Straßenname, Hausnummer
                input.form-control(type='text', name='street')
            .col-6
              .form-group
                label Postleitzahl
                input.form-control(type='number', name='postcode')
            .col-12
              .form-group
                label Wähle eine Abteilung
                select.form-control(id="department-select", name="department")
                  if department.length > 0 
                    - for(var i = 0; i < department.length; i++) {
                        option(value= department[i].departmentnumber)= department[i].departmentname
                    - }
                  else
                    option(value="-1") Es ist bisher keine Abteilung vorhanden
                    
              button.btn.btn-warning.btn-lg.my-3(type='submit') registrieren
        hr
        small.d-block Mit vorhandenen Account #[a(href='/login') anmelden]
        small.d-block Zurück zur  #[a(href='/') Startseite]

        


                
                //- //- var departments[];
                //- ul
                //-   each val in department.length ? values : ['There are no values']
                //-     li= val
